ul {
  padding: 0;
}

h5 {
  text-decoration: underline;
}

.service-form,
.services,
.filter {
  width: 900px;
  margin: auto;
}

.service,
.price {
  flex-grow: 3;
}

.btn-save {
  margin-right: 20px;
}

.service-item {
  list-style-type: none;
}
